<% if(success && success.length) { %> <!--i.e success shd exist and shouldn't be empty -->
<div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
<!-- for errors -->
<% if(error && error.length) { %> <!--i.e success shd exist and shouldn't be empty -->
<div class="alert alert-danger  alert-dismissible fade show col-6 offset-3" role="alert">
    <%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>